.MainCalculatorContainer {
  display: flex;
  height: 100vh;
}
/*CALCULATOR BUTTONS*/
.CalculatorButtonsContainer {
  background-color: white;
  width: 100vw;
  bottom: 30px;
  position: fixed;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}
.GrandTotalRow {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 100vw;
  margin-bottom: 20px;
}
.ButtonsRow {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 100vw;
  margin-bottom: 20px;
  user-select: none;
}
.GrandTotalSign {
  font-size: xx-large;
  font-weight: 600;
  margin-right: 10px;
  user-select: none;
}
.GrandTotal {
  font-size: xx-large;
  font-weight: 600;
}

.CleanButton {
  font-size: xx-large;
  font-weight: 600;
  justify-content: center;
  align-content: center;
  padding: 2px;
  background-color: white;
  width: 70px;
  height: 40px;
  border: none;
  outline-color: black;
  user-select: none;
  cursor: pointer;
  animation-name: renderButtons;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
}

.HighlightButton {
  font-size: xx-large;
  font-weight: 600;
  justify-content: center;
  align-content: center;
  padding: 2px;
  background-color: #c4c4c4;
  width: 70px;
  height: 40px;
  border: none;
  outline-color: black;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  animation-name: renderButtons;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
}
@media (max-width: 450px) {
  .GrandTotalSign {
    font-size: x-large;
  }
  .GrandTotal {
    font-size: x-large;
  }
  .ButtonsRow {
    margin-bottom: 15px;
  }
  .CleanButton {
    font-size: x-large;
  }
  .HighlightButton {
    font-size: x-large;
  }
}
@media (max-width: 350px) {
  .GrandTotalSign {
    font-size: large;
  }
  .GrandTotal {
    font-size: large;
  }
  .ButtonsRow {
    margin-bottom: 15px;
  }
  .CleanButton {
    font-size: large;
  }
  .HighlightButton {
    font-size: large;
  }
}
@media (max-height: 550px) {
  .GrandTotalSign {
    font-size: large;
  }
  .GrandTotal {
    font-size: large;
  }
  .ButtonsRow {
    margin-bottom: 5px;
  }
  .CleanButton {
    font-size: large;
  }
  .HighlightButton {
    font-size: large;
  }
}
/*OPERATION DISPLAY*/
.OperationContainer {
  display: flex;
  flex: 1;
  font-family: sans-serif;
  text-align: justify;
  justify-content: left;
  font-size: xx-large;
  font-weight: 600;
  padding: 10px;
  word-break: break-all;
  overflow-y: visible;
}

@media (max-width: 500px) {
  .OperationContainer {
    font-size: x-large;
  }
}
@media (max-width: 320px) {
  .OperationContainer {
    font-size: large;
  }
}
@media (max-height: 550px) {
  .OperationContainer {
    font-size: large;
  }
}

@keyframes renderButtons {
  from {
    opacity: 0.7;
    margin-top: 2px;
  }
}
