/*ORDERS TOOL*/
.ordersMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 150px;
}
.NewOrderButton{
    display: flex;
    width: 300px;
    justify-content: center;
    align-self: center;
    color: #026ED2;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.NewOrderButton:hover{
    cursor: pointer;
}

.Titles{
    font-size: x-large;
    font-weight: 600;
    margin: 10px;
}

.EditingItemContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.ItemEditingContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-self: center;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: large;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.OrderIdentifier{
    font-weight: 600;
}
.ButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.ContinueEditiingButton{
    color: #026ED2;
    background-color: white;
    outline: none;
    border: none;
    user-select: none;

}
.ContinueEditiingButton:hover{
    cursor: pointer;
}

.DeleteEditingItem{
    color: #F40000;
    background-color: white;
    outline: none;
    border: none;
    user-select: none;

}
.DeleteEditingItem:hover{
    cursor: pointer;
}
.PendingItemContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.ItemPendingContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-self: center;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: large;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.SeeOrEditButton{
    color: #026ED2;
    background-color: white;
    outline: none;
    border: none;
    user-select: none;
}
.SeeOrEditButton:hover{
    cursor: pointer;
}

.OrderDoneButton{
    color: #00BB1E;
    background-color: white;
    outline: none;
    border: none;
    user-select: none;

}
.OrderDoneButton:hover{
    cursor: pointer;
}
.OrderContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 150px;
}
/*ORDER - ORDERS TOOL*/
.OrderTitle{
    font-size: x-large;
    font-weight: 600;
    align-self: center;
}
.NewOrderItemInput{
    width: 95vw;
    height: 300px;
    font-size: large;
    height:auto;
    resize: none;
    justify-self: center;
    align-self: center;
    padding: 10px;
    min-height: 130px;
}
.OrderItemContainer{
    justify-self: center;
    align-self: center;
    width: 95vw;
    margin-top: 10px;
    
}

.OrderItemDescription{
    background-color: white;
    padding: 10px;
    font-size: larger;

}

.OrderAmounthContainer{
    display: flex;
    justify-content: flex-end;
}
.DecreaseItemAmounth{
    color: #f40000;
    background-color: #FAFAFA;
    border: solid 2px #f40000;
    outline: none;
    border-radius: 100px;
    width: 50px;
    padding: 0;
    font-size: xx-large;

}

.IncreaseItemAmounth{
    color: #00BB1E;
    background-color: #FAFAFA;
    border: solid 2px #00BB1E;
    outline: none;
    border-radius: 100px;
    width: 50px;
    padding: 0;
    font-size: xx-large;
}
.ItemAmounth{
    font-size: x-large;
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 5px;
    margin-left: 5px;

}
@media(max-width:600px){
    .OrderAmounthContainer{
        justify-content: center;
    }
}