/*TAB BUTTONS*/
.TabButtonsCantainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #FAFAFA;
}

.TabButton{
    color: #026ED2;
    background-color: white;
    min-width: 20%;
    font-size:medium;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 100px;
    outline: none;
    border-style: solid;
    border-color: #026ED2;
}

.TabButton:hover{
    cursor: pointer;
}

.TabButtonActive{
    color: white;
    background-color: #026ED2;
    min-width: 20%;
    font-size:medium;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 100px;
    outline: none;
    border-style: solid;
    border-color: #026ED2;
}
/*MAIN CONTAINER OF THE PROFILE DASHBOARD TAB*/

.ServiceInformationTabContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}
/*SERVICE INFORMATION PREVIEW*/
.ServiceInformationContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 10px;
}


.informationTitle{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 10px;
}

.InformationItemTitle{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
}
.InformationContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-content: center;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.InformationContainer:hover{
    cursor: pointer;
}

.ImageInformation{
    width: 30%;
}
.Information{
    width: 65%;
}
.ServiceName{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 5px;
}
.PhoneNumber{
    margin-bottom: 5px;   
}
.Schedule{
    margin-bottom: 5px;
}
.editItemButton{
    font-size: medium;
    display: flex;
    width: fit-content;
    align-self: flex-end;
    color: #026ED2;
    background-color: white;
    outline: none;
    border: none;
}
.editItemButton:hover{
    cursor: pointer;
}


/*SERVICE CONTACT AND MORE PREVIEW*/

.ContactAndMoreContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 10px;
}

.ContactAndMoreTitle{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 10px;
}

.ContactAndMoreItemTitle{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
}

.ContactAndMoreContent{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 5px;

}
.ContactAndMoreContent:hover{
    cursor: pointer;
}

.PhoneNumber{
    margin-bottom: 5px;
    font-size: larger;
}

.Address{
    margin-bottom: 10px;
}

.MoreInfo{
    margin-bottom: 10px;

}

/*LIST OF SERVICES*/
.ListOfServicesContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ServicesMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100vw;
    padding-bottom: 150px;

}
.AddServiceButton{
    margin-top: 15px;
    margin-bottom: 5px;
    align-self: center;
    background-color: #FAFAFA;
    color: #026ED2;
    outline: none;
    border: none;
    width:auto;
    font-size: medium;
}
.AddServiceButton:hover{
    cursor: pointer;
}
.ServicesTitle{
    align-self: center;
    font-size: x-large;
    font-weight: 600;
}
.ServicesMainContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 150px;

}

.ServiceItemContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 500px;
    max-height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    
}

.ServiceMainInfo{
    width: 30%;
    margin-right: 10px;
}
.ServiceTitle{
    font-weight: 600;
    margin-bottom: 10px;
}

.ServiceComplementInfo{
    width: 65%;
}
/*RESERVATIONS TAB*/
.ServiceReservationsContainer{
    padding-bottom:150px ;
}
/*TOOL BAR*/

.ToolBarContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 150px;
}

.ToolItem{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    margin:10px;
    padding: 5px;
    border: solid;
    border-width: 1px;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    border-color: #026ED2;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ToolItem:hover{
    cursor: pointer;
}
.ToolIcon{
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.ToolIconExpenses{
    width: 90px;
    height: 90px;
    justify-self: center;
    align-self: center;
}
.ToolDescription{
    font-size: small;
    color: #026ED2;
}

