/*GLOBAL*/
.MainContainer{
    display: flex;
    top:0;
    left: 0;
    bottom: 235px;
    position:fixed;
    width: 100vw;
    height: 100vh;
}
.ModalBackground{
    flex: 1;
    background-color: black;
    opacity: 0.40;
}
.ModalContainer{
    display: flex;
    flex-wrap: wrap;
    bottom: 35px;
    position: fixed;
    width: 100vw;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-evenly;
    align-content: center;
    box-shadow: 10px 0px 7px rgba(0, 0, 0, 0.25);

}
.FullWidthContainer{
    width: 99vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
.ConfirmButton{
    outline: none;
    border: none;
    color: #00BB1E;
    background-color: white;
    font-size: medium;
    margin-top: 15px;
    margin-bottom: 5px;
}
.ConfirmButton:hover{
    cursor: pointer;
}
/*PROFILE IMAGE AND NAME*/
.ProfileImageFormContainer{
    width: 150px;
}
.ProfileImage{
    align-self: center;
    justify-self: center;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}
.ProfileImageButtonContainer{
    display: flex;
    justify-content: center;
}
.ProfileImageButton{
    outline: none;
    border:none;
    background-color: #FAFAFA;
    color: #026ED2;
    font-size: medium;
}
.ProfileImageButton:hover{
    cursor: pointer;
}
.ProfileNameContainer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.ProfileName{
    outline: none;
    border: none;
    font-size: large;
    font-family: sans-serif;
    width: 400px;
    padding: 10px;
    margin-top: 15px;
    justify-self: center;
    align-self: center;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    
}
@media(max-width:700px){
    .ProfileName{
        width: 95vw;
    }
}
.ConformButtonContainer{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*WORKDAYS FORM*/
.Instructions{
    font-size: x-large;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.Workday{
    font-size: x-large;
    margin: 10px;
}
.WorkdayCheckbox{
    height: 20px;
    width: 20px;
}
/*SCHEDULE FORM*/
.ScheduleFormsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ScheduleContainer{
    font-size: medium;
    text-align: center;
    font-family: sans-serif;
    margin: 5px;
}
.ScheduleDateInput{
    outline: none;
    border: none;
    background-color: #f3f3f3;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 5px;
}
/*SHORT DESCRIPTION FORM*/
.ShortDescriptionContainer{
    font-size: large;
    font-family: sans-serif;
    resize: none;
    width: 95vw;
    height: 200px;
    padding: 10px;
    border:none;
    outline: none;
    background-color: #f3f3f3;
    border-radius: 10px;

}
