.MainTabButtonsContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5vh;
    padding-bottom: 3px;
    position: fixed;
    bottom: 0;
    background-color: #FAFAFA;
}

.MainTabButton{
    background-color: #FAFAFA;
    color: black;
    font-size: x-large;
    border:none;
    outline: none;
}
.MainTabButton:hover{
    cursor: pointer;
}
.MainTabButtonActive{
    background-color: #FAFAFA;
    color: #00BB1E;
    font-size: x-large;
    border:none;
    outline: none;
}
