.MainTabButtonsContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    position: fixed;
    bottom: 0;
}

.MainTabButton{
    background-color: #FAFAFA;
    color: black;
    font-size: x-large;
    border:none;
    outline: none;
}

.MainTabButtonActive{
    background-color: #FAFAFA;
    color: #00BB1E;
    font-size: x-large;
    border:none;
    outline: none;
}