/*CUSTOMERS DASHBOARD*/
.MainDashboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    min-height: 100vh;
    padding-bottom: 150px;
    
}

.CustomersSearch{
    width: 95%;
    align-self: center;
    border: none;
    outline: none;
    font-size: large;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.CustomersSearch:focus::placeholder{
    color: transparent;
}

.AddButtonsContainer{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.AddPaymentButton{
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background-color: white;
    color: #C67802;
    font-size: large;
    width: 135px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.AddPaymentButton{
    cursor: pointer;
}

.AddCreditButton{
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background-color: white;
    color: #00BB1E;
    font-size: large;
    width: 135px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.AddCreditButton:hover{
    cursor: pointer;
}

/*CUSTOMER TEMPLATE*/

.CustomerName{
    margin: 10px;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}

.CustomerCreditContainer{
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    font-weight: 600;
    justify-content: center;
    padding: 10px;
}

.CustomerCreditDescription{
    margin-right: 10px;
}

/*CUSTOMER PAYMENT TEMPLATE*/
.CustomerItemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.CustomerPaymentItemContainer{
    font-size: large;
    font-family: sans-serif;
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    animation-name: renderItem;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
}

.CustomerCreditItemContainer{
    font-size: large;
    font-family: sans-serif;
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    animation-name: renderItem;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
}
.ItemTitleContainer{
    display: flex;
    justify-content: space-around; 
    font-size: large;
    font-weight: 600;
    margin-bottom: 5px;  
}

.PaymentAmounth{
    color: #C67802;
}

.CreditAmounth{
    color: #00BB1E;
}

.OpenEditButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.OpenEditButton{
    font-size: medium;
    font-family: sans-serif;
    display: flex;
    outline: none;
    border: none;
    background-color: white;
    color: #026ED2;
    align-self: center;
}
.OpenEditButton:hover{
    cursor: pointer;
}

/*CREDIT FORM*/
.CreditFormContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    animation-name: renderForm;
    animation-duration: 500ms;
}

.CustomerNameInput{
    font-size: large;
    font-family: sans-serif;
    width: 95%;
    align-self: center;
    outline: none;
    border: none;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.CustomerNameInput:focus::placeholder{
    color: transparent;
}

.SecondaryInputsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.DateInput{
    font-size: large;
    font-family: sans-serif;
    width: 300px;
    margin: 5px;
    background-color: white;
    border:none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.AmounthInput{
    font-size: large;
    font-family: sans-serif;
    width: 300px;
    margin: 5px;
    background-color: white;
    border:none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.AmounthInput:focus::placeholder{
    color: transparent;
}
.SecondaryButtonsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.TextAreaForm{
    font-family: sans-serif;
    font-size: large;
    flex: 1;
    outline: none;
    border: none;
    padding: 20px;
    padding-bottom: 150px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.TextAreaForm:focus::placeholder{
    color: transparent;
}

.SaveCreditButton{
    border: none;
    outline: none;
    background: none;
    color: #00BB1E;
}
.SavePaymentButton{
    border: none;
    outline: none;
    background: none;
    color: #C67802;
}
.ShareButton{
    border: none;
    outline: none;
    background: none;
    color: #026ED2;
}
@keyframes renderForm {
    from{
        margin-top: -300px;
    }
}
@keyframes renderItem {
    from{
        opacity: 0.7;
        margin-top: 10px;
    }
}