.TicketsDashboardMainContainer{
    flex-direction: column;
    width: 100vw;
    padding: 10px;
    bottom: 50px;
    padding-bottom: 150px;
}
.AddTicketButtonContainer{
    display: flex;
    justify-content: center;
}
.AddTicketButton{
    align-self: center;
    font-size: larger;
    width: 500px;
    outline: none;
    border:none;
    background-color: white;
    color: #026ED2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);

}
.AddTicketButton:hover{
    cursor: pointer;
}
.TicketsListTitle{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
    font-weight: 600;
}
.TicketsListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
}
.TicketPreviewContainer{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);

}
.TicketPreviewNumberAmounthContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5px;
}
.TicketNumberPreview{
    font-size: large;
    font-weight: 600;
    margin-right: 10px;
}
.TicketAmounthPreview{
    font-size: large;
    font-weight: 600;
}
.OpenEditTicketContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.OpenEditTicket{
    outline: none;
    border:none;
    background-color: white;
    color: #026ED2;
}
.OpenEditTicket{
    cursor: pointer;
}
/*TICKET FORM*/
.TicketsToolMainContainer{
    width: 100vw;
    padding-bottom: 150px;
}
.TicketTitle{
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.TicketDateCustomerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.TicketDateInput{
    font-family: sans-serif;
    background-color: white;
    width: 200px;
    font-size: large;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}
.TicketNameInput{
    font-family: sans-serif;
    background-color: white;
    width: 500px;
    font-size: large;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}
.TicketNameInput:focus::placeholder{
    color: transparent;
}
@media(max-width:740px){
    .TicketDateInput{
        width: 500px;
        margin-right: 0;
    }
}

.TicketItemContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.TicketDescription{
    padding: 10px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);

}
.ItemAmounthDescription{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
.TicketAmounth{
    min-width: 40%;
    justify-items: center;
    font-size: larger;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    align-self:flex-end;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);

}
.DeleteItemButton{
    font-size: large;
    background-color: transparent;
    color: #f40000;
    border: none;
    outline: none;
    height: min-content;
    width: min-content;
    justify-self:center;
    align-self: center;
    margin: 10px;

}
.NewItemTitle{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 10px;
}
.InputTicketItemContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.InputTicketDescription{
    padding: 10px;
    font-size: large;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border:none;
    resize: none;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    outline-color: #026ED2;
}

.InputTicketAmounth{
    width: 100%;
    justify-items: center;
    font-size: larger;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    align-self:flex-end;
    border:none;
    outline-color: #026ED2;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);

}
.AddItemButton{
    width: 100%;
    align-self: center;
    outline: none;
    border: none;
    background-color: #026ED2;
    color: white;
    font-size: large;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.AddItemButton:hover{
    cursor: pointer;
}
.InputTicketAmounth:focus::placeholder{
    color: transparent;
}
.InputTicketDescription:focus::placeholder{
    color: transparent;
}
@media(min-width:550px){
    .AddItemButton{
        width: 500px;
    }
}
.GrandTotalContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.GrandTotalTitle{
    font-size: x-large;
    font-weight: 600;
    margin-right: 10px;
}
.GrandTotal{
    font-size: x-large;
    font-weight: 600;
}