.ChatsMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
}

/*CHAT CONTAINER PREVIEW*/

.ChatContainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.ChatContainer:hover{
    cursor: pointer;
}

.ChatImage{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ChatDescription{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ChatName{
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
}

.ChatSchedule{
    color: #00BB1E;
}