.ChatsMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
}

/*CHAT CONTAINER PREVIEW*/

.ChatContainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.ChatContainer:hover{
    cursor: pointer;
}

.ChatImage{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ChatDescription{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ChatName{
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
}

.ChatSchedule{
    color: #00BB1E;
}

/*USER CHAT*/
.ChatMainContainer{
    width: 100vw;
    top: 0;
    bottom: 100px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ChatHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 80px;
}

.ChatHeaderImage{
    min-width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.FavouriteButton{
    font-size: medium;
    outline: none;
    border: none;
    background-color: #FAFAFA;
    color: #00BB1E;
}

.ReportButton{
    font-size: medium;
    outline: none;
    border: none;
    background-color: #FAFAFA;
    color: #f40000;
}

.MessagesMainContainer{
    flex-grow: 1;
    background-color: #FAFAFA;
    margin-left: 5%;
    margin-right: 5%;
}

.BottomContainer{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    bottom: 35px;
    position:absolute;
    height: 50px;
}

.MessageInput{
    background-color: #FAFAFA;
    height: 100%;
    width: 90%;
    align-self: center;
    border: none;
    outline: none;
    border-top: solid;
    border-top-color: gray;
    border-top-width: 1px;
}