.LoginMainContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  align-content: center;
}

.TitleContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.LoginButtonContainer {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.LoginButton {
  width: 500px;
  border: solid #00bb1e;
  border-radius: 10px;
  outline-offset: 2px;
  outline-color: #00bb1e;
  background-color: white;
  color: #00bb1e;
  font-size: x-large;
  padding: 10px;
}

.LoginButton:hover {
  cursor: pointer;
}
