.ServiceSearchMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 150px;
}
.DefaultPage{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 600;
}
/*ITEM PREVIEW*/

.PreviewMainContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    user-select: none;
}
.PreviewMainContainer:hover{
    cursor: pointer;
}

.ImageAndScoreContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;

}

.ServiceInformation{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.ServiceName{
    font-size: large;
    font-weight: 700;
    user-select: none;
}

.ServiceTodaySchedule{
    color: #00BB1E;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ServiceDescription{
    font-size:medium;
    font-weight: 400;
}